<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">کاربران</h4>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li><a href="#">خانه</a></li>
      <li class="active">کاربران</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        کاربران
      </mat-panel-title>
      <mat-panel-description>
        ثبت کاربر جدید
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="row">
      <div class="col-sm-12">
        <div class="white-box p-l-20 p-r-20">
          <div class="row">
            <div class="col-md-12">
              <form
                class="smoradicms-form"
                [formGroup]="addUserForm"
                (ngSubmit)="Save()"
              >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field class="smoradicms-full-width">
                        <input
                          matInput
                          placeholder="نام کاربری"
                          [formControl]="username"
                          [errorStateMatcher]="matcher"
                        />

                        <mat-error *ngIf="username.hasError('required')">
                          نام کاربری را به درستی وارد نمایید
                        </mat-error>
                        <mat-error *ngIf="username.hasError('minlength')">
                          نام کاربری باید بزرگتر از 5 حرف باشد
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field class="smoradicms-full-width">
                        <mat-label>نقش</mat-label>
                        <select
                          matNativeControl
                          [formControl]="roleID"
                          [errorStateMatcher]="matcher"
                        >
                          <option value="0">---</option>
                          <option value="1">مدیر سایت</option>
                        </select>
                        <mat-error
                          *ngIf="
                            roleID.hasError('required') ||
                            roleID.hasError('min')
                          "
                          >نقش را انتخاب کنید</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field class="smoradicms-full-width">
                        <input
                          matInput
                          placeholder="گذرواژه "
                          type="password"
                          [formControl]="password"
                          [errorStateMatcher]="matcher"
                        />

                        <mat-error *ngIf="password.hasError('required')">
                          گذرواژه را به درستی وارد نمایید
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <mat-form-field class="smoradicms-full-width">
                        <input
                          matInput
                          placeholder="تکرار گذرواژه "
                          type="password"
                          [formControl]="password"
                          [errorStateMatcher]="matcher"
                        />

                        <mat-error *ngIf="password.hasError('required')">
                          تکرار گذرواژه را به درستی وارد نمایید
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <mat-form-field class="smoradicms-full-width">
                    <textarea
                      matInput
                      placeholder="توضیحات "
                      [formControl]="description"
                      [errorStateMatcher]="matcher"
                      rows="4"
                    ></textarea>
                    <mat-hint align="end"
                      >{{ description.value.length }} / 256</mat-hint
                    >
                    <mat-error *ngIf="description.hasError('required')">
                      توضیحات را به درستی وارد نمایید
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group m-b-40 text-center">
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="!addUserForm.valid"
                    matTooltip="ثبت اطلاعات کاربر جدید"
                  >
                    ثبت اطلاعات
                  </button>
                </div>

                <div class="text-center">
                  <div
                    class="alert alert-success"
                    *ngIf="messageStatus == 1"
                    role="alert"
                  >
                    <button type="button" class="close" data-dismiss="alert">
                      x
                    </button>

                    اطلاعات با موفقیت ثبت گردید
                  </div>
                  <div
                    class="alert alert-danger"
                    *ngIf="messageStatus == 2"
                    role="alert"
                  >
                    <button type="button" class="close" data-dismiss="alert">
                      x
                    </button>

                    خطایی در ثبت اطلاعات به وجود امده است
                  </div>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<hr />
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        لیست کاربران
      </mat-panel-title>
      <mat-panel-description>
        مشاهده و جستجوی اطلاعات
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <h3 class="box-title m-b-0">لیست کاربران</h3>
          <hr />
          <mat-form-field class="smoradicms-full-width">
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="جستجو"
            />
          </mat-form-field>

          <div class="smoradicms-container mat-elevation-z8">
            <table
              class="table table-striped table-hover"
              mat-table
              [dataSource]="dataSource"
              matSort
            >
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ردیف</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
              </ng-container>

              <!-- Progress Column -->
              <ng-container matColumnDef="progress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  درصد پیشرفت
                </th>
                <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>نام</th>
                <td mat-cell *matCellDef="let row">{{ row.name }}</td>
              </ng-container>

              <!-- Color Column -->
              <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>رنگ</th>
                <td mat-cell *matCellDef="let row" [style.color]="row.color">
                  {{ row.color }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <mat-paginator
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<script>
  $(document).ready(function() {
    $('button').click(function() {
      alert('ok');
    });
  });
</script>
