<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col hidden-print">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
            class="site_title"
            ><img src="assets/build/images/logo.png" height="34" width="34" />
            <span>یوتاب</span></a
          >
        </div>
        <div class="clearfix"></div>
        <!-- menu profile quick info -->
        <div class="profile clearfix">
          <div class="profile_pic">
            <img
              src="assets/build/images/user.png"
              alt="..."
              class="img-circle profile_img"
            />
          </div>
          <div class="profile_info">
           
            <h2>سعید مرادی</h2>
          </div>
        </div>

        <!-- /menu profile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <ul class="nav side-menu">
              <li>
                <a
                  ><i class="fa fa-home"></i> خانه
                  <span class="fa fa-chevron-down"></span
                ></a>
                <ul class="nav child_menu">
                  <li>
                    <a
                      [routerLink]="['/users']"
                      routerLinkActive="router-link-active"
                      >کاربران</a
                    >
                  </li>
                  
                </ul>
              </li>
              <li>
                <a
                  ><i class="fa fa-edit"></i> فرم
                  <span class="fa fa-chevron-down"></span
                ></a>
                <ul class="nav child_menu">
                  <li><a href="form.html">فرم عمومی</a></li>
                  <li><a href="form_advanced.html">قطعات پیشرفته</a></li>
                  <li><a href="form_validation.html">فرم اعتبار سنجی</a></li>
                  <li><a href="form_wizards.html">فرم جادوگر</a></li>
                  <li><a href="form_upload.html">فرم بارگذاری</a></li>
                  <li><a href="form_buttons.html">فرم کلید ها</a></li>
                </ul>
              </li>
              <li>
                <a>
                  <i class="fa fa-desktop"></i> عناصر ظاهری
                  <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                  <li><a href="general_elements.html">عناصر عمومی</a></li>
                  <li><a href="media_gallery.html">گالری چندرسانه ای</a></li>
                  <li><a href="typography.html">تایپو گرافی</a></li>
                  <li><a href="icons.html">آیکون ها</a></li>
                  <li><a href="glyphicons.html">Glyphicons</a></li>
                  <li><a href="widgets.html">ابزارک</a></li>
                  <li><a href="invoice.html">صورت حساب</a></li>
                  <li><a href="inbox.html">صندوق</a></li>
                  <li><a href="calendar.html">تقویم</a></li>
                </ul>
              </li>
              <li>
                <a
                  ><i class="fa fa-table"></i> جداول
                  <span class="fa fa-chevron-down"></span
                ></a>
                <ul class="nav child_menu">
                  <li><a href="tables.html">جداول</a></li>
                  <li><a href="tables_dynamic.html">جدول پویا</a></li>
                </ul>
              </li>
              <li>
                <a
                  ><i class="fa fa-bar-chart-o"></i> ارائه داده
                  <span class="fa fa-chevron-down"></span
                ></a>
                <ul class="nav child_menu">
                  <li><a href="chartjs.html">Chart JS</a></li>
                  <li><a href="chartjs2.html">Chart JS2</a></li>
                  <li><a href="morisjs.html">Moris JS</a></li>
                  <li><a href="echarts.html">ECharts</a></li>
                  <li><a href="other_charts.html">چارت های دیگر</a></li>
                </ul>
              </li>
              <li>
                <a
                  ><i class="fa fa-clone"></i>طرح بندی
                  <span class="fa fa-chevron-down"></span
                ></a>
                <ul class="nav child_menu">
                  <li><a href="fixed_sidebar.html">نوار کناری ثابت</a></li>
                  <li><a href="fixed_footer.html">پاورقی ثابت</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <!-- /sidebar menu -->
      </div>
    </div>
    <!-- top navigation -->
    <div class="top_nav hidden-print">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a
                href="javascript:;"
                class="user-profile dropdown-toggle"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <img src="assets/build/images/user.png" alt="" />سعید مرادی
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a href="javascript:;"> نمایه</a></li>
                <li>
                  <a href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>تنظیمات</span>
                  </a>
                </li>
                <li><a href="javascript:;">کمک</a></li>
                <li>
                  <a href="login.html"
                    ><i class="fa fa-sign-out pull-right"></i> خروج</a
                  >
                </li>
              </ul>
            </li>
            <li role="presentation" class="dropdown hidden">
              <a
                href="javascript:;"
                class="dropdown-toggle info-number"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-green">6</span>
              </a>
              <ul
                id="menu1"
                class="dropdown-menu list-unstyled msg_list"
                role="menu"
              >
                <li>
                  <a>
                    <span class="image">
                      <img
                        src="assets/build/images/user.png"
                        alt="Profile Image"
                      />
                    </span>
                    <span>
                      <span>مرتضی کریمی</span>
                      <span class="time">3 دقیقه پیش</span>
                    </span>
                    <span class="message">
                      فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده
                      ایه که فیلمسازا میسازن. آنها جایی بودند که....
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image">
                      <img
                        src="assets/build/images/user.png"
                        alt="Profile Image"
                      />
                    </span>
                    <span>
                      <span>مرتضی کریمی</span>
                      <span class="time">3 دقیقه پیش</span>
                    </span>
                    <span class="message">
                      فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده
                      ایه که فیلمسازا میسازن. آنها جایی بودند که....
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image">
                      <img
                        src="assets/build/images/user.png"
                        alt="Profile Image"
                      />
                    </span>
                    <span>
                      <span>مرتضی کریمی</span>
                      <span class="time">3 دقیقه پیش</span>
                    </span>
                    <span class="message">
                      فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده
                      ایه که فیلمسازا میسازن. آنها جایی بودند که....
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image">
                      <img
                        src="assets/build/images/user.png"
                        alt="Profile Image"
                      />
                    </span>
                    <span>
                      <span>مرتضی کریمی</span>
                      <span class="time">3 دقیقه پیش</span>
                    </span>
                    <span class="message">
                      فیلمای فستیوال فیلمایی که اجرا شده یا راجع به لحظات مرده
                      ایه که فیلمسازا میسازن. آنها جایی بودند که....
                    </span>
                  </a>
                </li>
                <li>
                  <div class="text-center">
                    <a>
                      <strong>مشاهده تمام اعلان ها</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- /top navigation -->
    <!-- page content -->
    <router-outlet></router-outlet>
    <!-- /page content -->
      <!-- footer content -->
        <footer class="hidden-print">
            <div class="pull-left">
               
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
  </div>
</div>
<div id="lock_screen">
    <table>
        <tr>
            <td>
                <div class="clock"></div>
                <span class="unlock">
                    <span class="fa-stack fa-5x">
                      <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                      <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </span>
            </td>
        </tr>
    </table>
</div>
