<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">کاربران</h4>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <ol class="breadcrumb">
      <li><a href="#">خانه</a></li>
      <li class="active">کاربران</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <hr />
      <div>
        <button kendoButton *ngIf="!opened" (click)="open()">
          Open dialog
        </button>
        <kendo-grid
          [groupable]="true"
          [group]="state.group"
          [data]="gridView"
          [sort]="state.sort"
          [pageSize]="state.take"
          [skip]="state.skip"
          [resizable]="true"
          filterable="menu"
          [filter]="state.filter"
          (dataStateChange)="dataStateChange($event)"
          [pageable]="{
            buttonCount: buttonCount,
            info: info,
            type: type,
            pageSizes: pageSizes,
            previousNext: previousNext
          }"
          [sortable]="{
            allowUnsort: allowUnsort,
            mode: multiple ? 'multiple' : 'single'
          }"
          [style.height.%]="100"
        >
          <ng-template kendoGridToolbarTemplate>
            <button type="button" kendoGridExcelCommand icon="file-excel">
              Export to Excel
            </button>
          </ng-template>

          <kendo-grid-column
            field="CompanyName"
            title="CompanyName"
            width="200"
          >
          </kendo-grid-column>

          <kendo-grid-column
            field="ContactName"
            title="ContactName"
            width="200"
          >
          </kendo-grid-column>

          <kendo-grid-column field="Address" title="Address" width="200">
          </kendo-grid-column>

          <kendo-grid-column field="City" title="City" width="200">
          </kendo-grid-column>

          <kendo-grid-column field="Country" title="Country" width="200">
          </kendo-grid-column>

          <kendo-grid-column field="Phone" title="Phone" width="200">
          </kendo-grid-column>

          <kendo-grid-command-column title="command" width="220">
            <ng-template kendoGridCellTemplate>
              <button kendoGridEditCommand [primary]="true">Edit</button>
              <button kendoGridRemoveCommand>Delete</button>
            </ng-template>
          </kendo-grid-command-column>
          <kendo-grid-excel fileName="Products.xlsx"></kendo-grid-excel>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>
