<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Starter Page</h4>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    
    <ol class="breadcrumb">
      <li><a href="#">Dashboard</a></li>
      <li class="active">Starter Page</li>
    </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="white-box p-l-20 p-r-20">
      <h3 class="box-title m-b-0">Animated Line Inputs Form With Floating Labels</h3>
      <p class="text-muted m-b-30 font-13">Just add <code>floating-labels</code> class to the form.</p>
      <div class="row">
        <div class="col-md-12">
          <form class="floating-labels ">
            <div class="form-group m-b-40">
              <input type="text" class="form-control" id="input1" required><span class="highlight"></span> <span
                class="bar"></span>
              <label for="input1">Regular Input</label>
            </div>
            <div class="form-group m-b-40">
              <input type="password" class="form-control" id="input2" required><span class="highlight"></span> <span
                class="bar"></span>
              <label for="input2">Password</label>
            </div>
            <div class="form-group m-b-40">
              <input type="text" class="form-control" id="input3" required><span class="highlight"></span> <span
                class="bar"></span>
              <label for="input3">Placeholder</label>
            </div>
            <div class="form-group m-b-40">
              <input type="text" class="form-control" id="input4" required><span class="highlight"></span> <span
                class="bar"></span>
              <label for="input4">Helping text</label> <span class="help-block"><small>A block of help text that breaks
                  onto a new line and may extend beyond one line.</small></span> </div>
            <div class="form-group m-b-40">
              <input type="text" class="form-control" id="input5" data-toggle="tooltip" data-placement="bottom"
                title="input with tooltip!!" required><span class="highlight"></span> <span class="bar"></span>
              <label for="input5">Input with tooltip</label>
            </div>
            <div class="form-group m-b-40">
              <select class="form-control p-0" id="input6" required>
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select><span class="highlight"></span> <span class="bar"></span>
              <label for="input6">Input Select</label>
            </div>
            <div class="form-group m-b-5">
              <textarea class="form-control" rows="4" id="input7" required></textarea><span class="highlight"></span>
              <span class="bar"></span>
              <label for="input7">Text area</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
